* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro'; }

.top-content,
.header-content {
  width: 70%;
  margin: 0 auto; }

.top-content {
  padding: 1em 0;
  color: #999999; }

.header-content {
  padding: 2em 0;
  color: #ffffff; }

.widgets-left {
  display: grid;
  place-content: start;
  grid-gap: .4em;
  grid-template-areas: "lan cur"; }
  .widgets-left #lang {
    grid-area: lan; }
  .widgets-left #currency {
    grid-area: cur; }
  .widgets-left .top-select {
    position: relative;
    outline: none;
    background: transparent;
    color: #999999;
    border: none; }
    .widgets-left .top-select option {
      box-shadow: 0px;
      border: 0px;
      outline: 0px;
      background: #2d2827; }
    .widgets-left .top-select option:hover {
      background: #999999;
      color: #2d2827; }

#bigger {
  font-size: 12px;
  text-align: center;
  letter-spacing: 2.4px; }

.top-social-links-ul {
  display: grid;
  place-content: end;
  grid-gap: 1em;
  grid-template-areas: "icon1 icon2 icon3 icon4"; }
  .top-social-links-ul .social {
    color: inherit;
    font-size: 1em; }
  .top-social-links-ul .link1 {
    grid-area: icon1; }
  .top-social-links-ul .link2 {
    grid-area: icon2; }
  .top-social-links-ul .link3 {
    grid-area: icon3; }
  .top-social-links-ul .link4 {
    grid-area: icon4; }
  .top-social-links-ul .social:hover {
    color: #f5f5f5; }

.header {
  background: linear-gradient(#666666be, #f5f5f5be), url(../../images/2.jpg) !important;
  background-attachment: fixed;
  background-size: cover;
  background-position: top !important;
  background-repeat: repeat; }

.navbar .fas {
  color: #ffffff; }
.navbar .main-navbar-center {
  display: grid;
  place-content: center;
  grid-template-areas: "link1 link2 link3 img link4 link5 link6"; }
  .navbar .main-navbar-center .navbar-links {
    place-self: center; }
  .navbar .main-navbar-center .link1 {
    grid-area: link1; }
  .navbar .main-navbar-center .link2 {
    grid-area: link2; }
  .navbar .main-navbar-center .link3 {
    grid-area: link3; }
  .navbar .main-navbar-center .nav-logo {
    grid-area: img; }
  .navbar .main-navbar-center .link4 {
    grid-area: link4; }
  .navbar .main-navbar-center .link5 {
    grid-area: link5; }
  .navbar .main-navbar-center .link6 {
    grid-area: link6; }
  .navbar .main-navbar-center a {
    font-family: 'Dosis';
    text-transform: uppercase;
    padding: 0 1em;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px; }

.main-grid {
  grid-template-areas: "top" "header" "feat" "collection" "banner" "blog" "footer"; }
  .main-grid .top {
    grid-area: top;
    background: #2d2827;
    height: 3.3125rem; }
    .main-grid .top .top-content {
      display: grid;
      margin: 0 auto;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "menus text icons"; }
      .main-grid .top .top-content .widgets-left {
        grid-area: menus; }
      .main-grid .top .top-content .text-centered {
        grid-area: text; }
      .main-grid .top .top-content .social-links-right {
        grid-area: icons; }
  .main-grid .header {
    grid-area: header;
    height: 59.0625rem;
    display: grid;
    grid-template-areas: "nav" "hero"; }
    .main-grid .header .navbar {
      grid-area: nav;
      color: #ffffff;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "search ul basket"; }
      .main-grid .header .navbar .search-icon-left {
        grid-area: search;
        display: grid;
        place-content: start; }
      .main-grid .header .navbar .main-navbar-center {
        grid-area: ul; }
      .main-grid .header .navbar .shop-basket-right {
        grid-area: basket;
        display: grid;
        place-content: end; }
        .main-grid .header .navbar .shop-basket-right a {
          place-self: center; }
  .main-grid .featured {
    height: 44rem;
    grid-area: feat;
    background: #f5f5f5; }
  .main-grid .collection {
    height: 44.0625rem;
    grid-area: collection;
    background: #ffffff; }
  .main-grid .banner {
    height: 34.5rem;
    grid-area: banner;
    background: #666; }
  .main-grid .blog {
    height: 41.9375rem;
    grid-area: blog;
    background: #f9f9f9; }
  .main-grid .footer {
    grid-area: footer;
    height: 26.5625rem;
    background: #2d2827; }
  .main-grid .bottom {
    height: 5.3125rem;
    grid-area: bottom;
    background: #d7d7d7; }

/*# sourceMappingURL=main.css.map */
