* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

.top-content,
.header-content,
.feautured-content,
.collection-content,
.blog-content,
.footer-content,
.navbar-content,
.primary-grid,
.what-we-do-grid,
.contact-box-grid {
  width: 80%;
  margin: 0 auto;
}

.top-content {
  padding: 1em 0;
  color: #999999;
}

.header-content {
  padding: 2em 0;
  color: #ffffff;
}

#container-title {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  padding-top: 60px;
}

.no-padding {
  padding: 0 !important;
}

#container-title::after {
  content: '';
  height: 2px;
  width: 50px;
  margin: 20px auto;
  background: #a88d7b;
  display: block;
}

.widgets-left {
  display: -ms-grid;
  display: grid;
  place-content: start;
  grid-gap: .4em;
      grid-template-areas: "lan cur";
}

.widgets-left #lang {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lan;
}

.widgets-left #currency {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cur;
}

#bigger {
  font-size: 12px;
  text-align: center;
  letter-spacing: 2.4px;
}

.top-social-links-ul {
  display: -ms-grid;
  display: grid;
  place-content: end;
  grid-gap: 1em;
      grid-template-areas: "icon1 icon2 icon3 icon4";
}

.top-social-links-ul .social {
  color: inherit;
  font-size: 1em;
}

.top-social-links-ul .link1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon1;
}

.top-social-links-ul .link2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon2;
}

.top-social-links-ul .link3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon3;
}

.top-social-links-ul .link4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: icon4;
}

.top-social-links-ul .social:hover {
  color: #a88d7b;
}

.header {
  height: 945px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666be), to(#666666be)), url(../images/casual.jpg) !important;
  background: linear-gradient(#666666be, #666666be), url(../images/casual.jpg) !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
}

.navbar {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.navbar .fas {
  color: #ffffff;
}

.navbar .fas:hover {
  color: #2d2827;
}

.navbar .fas:active {
  color: #a88d7b;
}

.navbar .main-navbar-center {
  display: -ms-grid;
  display: grid;
  place-content: center;
      grid-template-areas: "link1 link2 link3 img link4 link5 link6";
}

.navbar .main-navbar-center .navbar-links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar .main-navbar-center .link1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: link1;
}

.navbar .main-navbar-center .link2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: link2;
}

.navbar .main-navbar-center .link3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: link3;
}

.navbar .main-navbar-center .nav-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.navbar .main-navbar-center .link4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: link4;
}

.navbar .main-navbar-center .link5 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: link5;
}

.navbar .main-navbar-center .link6 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: link6;
}

.navbar .shop-basket-right {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.header-text {
  place-content: center;
}

.header-text .header-text-title {
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 258px auto 0;
}

.header-text .header-text-content {
  width: 924px;
  margin: 40px auto 0;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
}

.featured-grid .featured-figure {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.featured-grid .featured-figure .figure-img {
  width: 370px;
  height: 360px;
  background-color: #666666;
}

.featured-grid .featured-figure .figure-text {
  text-align: center;
  margin: 23px auto;
}

.collection-grid .collection-item .collection-text {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  color: #a88d7b;
  padding-top: 42px;
  letter-spacing: 2.5px;
}

.banner-content .banner-title {
  font-family: Dosis;
  font-size: 48px;
  color: #ffffff !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
}

.banner-content .banner-text {
  margin-top: 7.1%;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 1.6;
}

.blog-content .blog-text .blog-text-title {
  margin-bottom: 19px;
}

.blog-content .blog-text #greyed {
  margin-bottom: 36px;
  color: #999999 !important;
  font-size: 15px;
}

.blog-content .blog-text .blog-text-content {
  margin-bottom: 42px;
  height: 239px;
  width: 529px;
}

.blog-content .blog-text .read-more-btn {
  color: #a88d7b;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#extra-pad {
  padding-left: 2em;
  display: inline;
}

.footer-grid .footer-left-section .footer-logo {
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .4em;
  text-align: left;
  color: #e5e5e5;
}

.footer-grid .footer-left-section .footer-contact-details {
  padding: 0;
}

.footer-grid .footer-left-section .footer-contact-details li {
  margin-top: 40px;
  list-style: none;
  color: #999999;
  font-size: 15px;
}

.footer-grid .footer-left-section .footer-contact-details li p {
  padding-left: 2em;
  display: inline;
}

.footer-grid .footer-right-section .right-title {
  margin-bottom: 51px;
  color: #e5e5e5;
  text-align: left;
}

.footer-grid .footer-right-section ul {
  padding: 0;
}

.footer-grid .footer-right-section ul li {
  list-style: none;
  color: #999999;
  padding-bottom: 30px;
}

.footer-grid .footer-right-section .footer-instagram div {
  width: 80px;
  height: 80px;
  background: #ffffff;
}

.footer-grid .footer-right-section .footer-instagram div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bread-crumb-container {
  height: 445px;
  background: #666666;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.bread-crumb-container .crumb-title {
  font-size: 50px;
  letter-spacing: 5px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  color: #ffffff;
}

.bread-crumb-container p {
  margin-top: 36px;
  text-align: center;
}

.bread-crumb-container p a {
  color: #ffffff;
}

.bread-crumb-container p span {
  color: #a8a8a8;
}

.bread-crumb-container p #text {
  color: #cccccc;
}

.primary-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.primary-left p {
  margin-bottom: 36px;
  width: 524px;
  color: #666666;
}

.primary-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

.primary-right .primary-img {
  height: 490px;
  width: 600px;
}

.primary-right .primary-img img {
  height: 100%;
  width: 100%;
}

.team-figure {
  width: 270px;
}

.team-figure .team-img {
  height: 305px;
  background-color: #666666;
  margin-bottom: 20px;
}

.team-figure .team-text {
  text-align: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name" "des" "links";
}

.team-figure .team-text h4 {
  font-size: 20px;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.team-figure .team-text p {
  margin-bottom: 30px;
  color: #999999;
}

.team-figure .team-text i {
  padding: 0 15px;
  color: #555555;
}

.mission-left {
  height: 490px !important;
  width: 600px;
  background: #666666;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mission-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-box-grid {
  margin: 100px auto 74px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact-box-grid .box {
  background: #f0f0f0;
  height: 200px;
  width: 390px;
  border: solid 1px #e6e6e6;
}

.contact-box-grid .center-top,
.contact-box-grid .center-bottom {
  background: #f0f0f0;
  border: solid 1px #e6e6e6;
}

.contact-box-grid .box-left,
.contact-box-grid .box-right {
  display: -ms-grid;
  display: grid;
  text-align: center;
  place-content: center;
}

.contact-box-grid .box-left h4,
.contact-box-grid .box-right h4 {
  margin-top: 19px;
  margin-bottom: 30px;
  font-size: 18px;
}

.contact-box-grid .box-center .center-top,
.contact-box-grid .box-center .center-bottom {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.contact-form {
  margin-top: 60px;
}

.contact-form .form-grid {
  max-width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
      grid-template-areas: "name email" "phone subject" "text text" "btn .";
}

.contact-form .form-grid input {
  padding: 22px;
  height: 50px;
  color: #888888;
  border: solid 1px #e6e6e6;
  background: #ffffff;
  outline: none;
}

.contact-form .form-grid #form-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.contact-form .form-grid #form-email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

.contact-form .form-grid #form-number {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: phone;
}

.contact-form .form-grid #form-subject {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subject;
}

.contact-form .form-grid #form-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
  height: 150px;
  color: #888888;
  padding: 22px;
  border: solid 1px #e6e6e6;
  background: #ffffff;
  outline: none;
}

.contact-form .form-grid #form-button {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: btn;
  width: 155px;
  height: 40px;
  background: #a88d7b;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-bottom: 100px;
}

.map {
  margin: 0 auto 60px;
}

.blog-item {
  margin-bottom: 60px;
}

.blog-item .blog-item-img {
  height: 225px;
  background: #666666;
}

.blog-item .blog-item-text h4 {
  margin-top: 30px;
  font-size: 20px;
}

.blog-item .blog-item-text #greyed {
  margin-top: 19px;
}

.blog-item .blog-item-text p {
  margin-top: 43px;
  width: 340px;
  margin-bottom: 36px;
}

.blog-item .blog-item-text a {
  color: #a88d7b;
  text-transform: capitalize;
}

.top-select {
  position: relative;
  outline: none;
  background: transparent;
  color: #999999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}

.top-select option {
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
  border: 0px;
  outline: 0px;
  background: #2d2827;
}

.top-select option:hover {
  background: #999999;
  color: #2d2827;
}

#about-only {
  display: -ms-grid;
  display: grid;
  place-content: end;
}

#container-img {
  position: relative;
  overflow: hidden;
}

#container-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#container-img img:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar-links {
  font-family: 'Dosis';
  text-transform: uppercase;
  padding: 0 1em;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar-links:hover::after {
  content: '';
  -webkit-transition: all .4s;
  transition: all .4s;
  display: block;
  height: 4px;
  margin: 0 auto;
  background: #a88d7b;
  width: 80%;
}

.header-text-button {
  margin: 97px auto 0;
  width: 150px;
  background: #ffffff;
  border: solid #a88d7b 2px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #a88d7b;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-text-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  width: 160px;
  background: #a88d7b;
  color: #ffffff;
  border: solid #ffffff 2px;
  -webkit-box-shadow: 0 0 0 10px #a88d7b80;
          box-shadow: 0 0 0 10px #a88d7b80;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.banner-button {
  margin-top: 15.8% !important;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #a88d7b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.banner-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #ffffff;
  color: #a88d7b;
  border: solid 2px #a88d7b;
}

a {
  text-decoration: none;
}

.down-arrow {
  position: relative;
  margin: 160px auto 50px;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
}

.down-arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.down-arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.down-arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.figure-img {
  position: relative;
  overflow: hidden;
}

.figure-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: block;
}

.figure-img img #third {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: none;
     object-position: none;
}

.figure-img .new-item {
  width: 60px;
  height: 25px;
  border-radius: 7.5px;
  background-color: #a88d7b;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: absolute;
  right: 10px;
  letter-spacing: 2.5px;
  top: 10px;
}

.collection-item .collection-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 570px;
  height: 373px;
  background-color: #666666;
}

.collection-item .collection-img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.blog-img {
  overflow: hidden;
  position: relative;
  width: 585px;
  height: 405px;
}

.blog-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog-item-img {
  width: 370px;
  height: 225px;
}

.blog-item-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.primary-right {
  position: relative;
  overflow: hidden;
}

.primary-right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.main-grid {
      grid-template-areas: "top" "header" "feat" "collection" "banner" "blog" "footer";
}

.top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  background: #2d2827;
  height: 1.1%;
}

.top .top-content {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "menus text icons";
}

.top .top-content .widgets-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menus;
}

.top .top-content .text-centered {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.top .top-content .social-links-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icons;
}

.header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav" "text";
}

.header .navbar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "search ul basket";
}

.header .navbar .search-icon-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
  display: -ms-grid;
  display: grid;
  place-content: center start;
}

.header .navbar .main-navbar-center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ul;
}

.header .navbar .shop-basket-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: basket;
  display: -ms-grid;
  display: grid;
  place-content: center end;
}

.header .header-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "content" "btn" "arrow";
}

.header .header-text .header-text-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.header .header-text .header-text-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.header .header-text .header-text-button {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: btn;
}

.header .header-text .down-arrow {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: arrow;
}

.featured {
  height: 15.6%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: feat;
  background: #f5f5f5;
}

.featured .featured-grid {
  margin-top: 9.9%;
  place-content: center;
  grid-gap: 2em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "fig1 fig2 fig3";
}

.featured .featured-grid .figure-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fig1;
}

.featured .featured-grid .figure-center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fig2;
}

.featured .featured-grid .figure-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fig3;
}

.featured .featured-grid .featured-figure {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img" "text";
}

.featured .featured-grid .featured-figure .figure-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.featured .featured-grid .featured-figure .figure-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.collection {
  height: 44.0625rem;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: collection;
  background: #ffffff;
}

.collection .collection-grid {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  grid-gap: 30px;
      grid-template-areas: "male female";
}

.collection .collection-grid .male {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: male;
}

.collection .collection-grid .female {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: female;
}

.banner {
  height: 34.5rem;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: banner;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666be), to(#666666be)), url(../images/leather-jacket.jpg) !important;
  background: linear-gradient(#666666be, #666666be), url(../images/leather-jacket.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: bottom left !important;
}

.banner .banner-content {
  display: -ms-grid;
  display: grid;
  width: 656px;
  margin-left: 19.4%;
  margin-right: 46.1%;
      grid-template-areas: "title" "text" "btn";
}

.banner .banner-content .banner-title {
  margin-top: 25%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.banner .banner-content .banner-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.banner .banner-content .banner-button {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: btn;
}

.blog {
  height: 41.9375rem;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: blog;
  background: #f9f9f9;
}

.blog .blog-grid {
  display: -ms-grid;
  display: grid;
  margin: 3.75rem auto 0;
  place-content: center;
  grid-gap: 3.125rem;
      grid-template-areas: "img text";
}

.blog .blog-grid .blog-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.blog .blog-grid .blog-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "date" "text" "link";
}

.blog .blog-grid .blog-text .blog-text-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.blog .blog-grid .blog-text #greyed {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: date;
}

.blog .blog-grid .blog-text .blog-text-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.blog .blog-grid .blog-text .read-more-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: link;
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  height: 26.5625rem;
  background: #2d2827;
}

.footer .footer-grid {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  grid-gap: 6%;
      grid-template-areas: "sec1 sec2";
}

.footer .footer-grid .footer-left-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sec1;
  place-items: start;
}

.footer .footer-grid .footer-right-section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sec2;
  place-content: top end;
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
      grid-template-areas: "links shop ig";
}

.footer .footer-grid .footer-right-section .footer-links {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: links;
}

.footer .footer-grid .footer-right-section .footer-shop {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: shop;
}

.footer .footer-grid .footer-right-section .footer-instagram {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ig;
}

.footer .footer-grid .footer-right-section .footer-instagram .instagram-widget-grid {
  place-content: start;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.bottom {
  height: 5.3125rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
  background: #d7d7d7;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.about {
  background: #eeeeee !important;
}

#inner {
  width: 70%;
}

.about-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top" "nav" "about" "primary" "team" "secondary" "footer" "bottom";
}

#navbar-light {
  background: #ffffff;
}

#navbar-light .navbar-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-areas: "left ul right";
}

#navbar-light .navbar-content .logo-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

#navbar-light .navbar-content .main-navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ul;
  display: -ms-grid;
  display: grid;
  place-content: center end;
      grid-template-areas: "link1 link2 link3 link4 link5 link6";
}

#navbar-light .navbar-content .main-navbar .navbar-links {
  color: #666666 !important;
}

#navbar-light .navbar-content .widgets-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  place-content: center end;
  grid-gap: 1em;
      grid-template-areas: "icon1 icon2";
}

#navbar-light .navbar-content .widgets-right .fas {
  color: #666666 !important;
}

#navbar-light .navbar-content .widgets-right .fa-shopping {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon1;
}

#navbar-light .navbar-content .widgets-right .fa-search {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon2;
}

.primary-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  margin-bottom: 100px;
  grid-gap: 54px;
  -ms-grid-rows: 490px;
      grid-template-rows: 490px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left right";
}

.team-grid {
  place-content: center !important;
  padding-top: 82px;
  grid-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[4];
      grid-template-columns: repeat(4, 270px);
      grid-template-areas: "fig1 fig2 fig3 fig4";
}

.team-grid .figure1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fig1;
}

.team-grid .figure2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fig2;
}

.team-grid .figure3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fig3;
}

.team-grid .figure4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fig4;
}

.what-we-do-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  grid-gap: 36px;
  display: -ms-grid;
  display: grid;
  place-content: center;
      grid-template-areas: "left right";
}

.what-we-do-grid .mission-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.what-we-do-grid .mission-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

.what-we-do-grid .mission-right #first {
  margin-top: 22px;
}

.what-we-do-grid .mission-right p {
  margin-bottom: 36px;
  width: 530px;
}

.contact-box-grid {
  display: -ms-grid;
  display: grid;
  place-content: center;
      grid-template-areas: "left center right";
}

.contact-box-grid .box-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.contact-box-grid .box-center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
      grid-template-areas: "top" "bottom";
}

.contact-box-grid .box-center .center-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
}

.contact-box-grid .box-center .center-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
}

.contact-box-grid .box-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

.blog-share-pane {
  color: #666666;
  width: 70%;
  margin: 29px auto 23px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left right";
}

.blog-share-pane .left-pane {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.blog-share-pane .right-pane {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  display: -ms-grid;
  display: grid;
  place-content: end;
  grid-gap: 12px;
      grid-template-areas: "txt icons";
}

.blog-share-pane .right-pane p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: txt;
}

.blog-share-pane .right-pane .blog-share {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icons;
}

.blog-share-pane .right-pane .blog-share i {
  padding: 0 .4em;
}

.underline {
  margin: 24px auto 0;
  background: #e6e6e6;
  height: 1px;
  outline: none;
  border: none;
}

.blog-line {
  width: 70% !important;
}

.blog-page-grid {
  margin: 60px auto;
  grid-gap: 29px;
  width: 80%;
  display: -ms-grid;
  display: grid;
  place-content: center;
      grid-template-areas: "fig1 fig2 fig3" "fig4 fig5 fig6";
}

.blog-page-grid .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fig1;
}

.blog-page-grid .item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fig2;
}

.blog-page-grid .item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fig3;
}

.blog-page-grid .item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fig4;
}

.blog-page-grid .item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fig5;
}

.blog-page-grid .item6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fig6;
}

.masonry-gallery {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 60px auto 100px;
  grid-gap: 20px;
}

.masonry-gallery .img-container {
  position: relative;
  overflow: hidden;
}

.masonry-gallery .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.masonry-gallery .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.masonry-gallery .img-container .overlay a {
  opacity: 0;
  color: #666666;
}

.masonry-gallery .span_1 {
  grid-column: span 0;
  grid-row: span 2;
}

.masonry-gallery .span_2 {
  grid-column: span 1fr;
}

.masonry-gallery .span_3 {
  grid-row: span 2;
}

.masonry-gallery .span_4 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.masonry-gallery .img-container:hover .overlay {
  background: #a88d7b34;
  -webkit-transition: width  all .2s;
  transition: width  all .2s;
  width: 100%;
}

.masonry-gallery .img-container:hover a {
  opacity: 1;
}

.masonry-gallery .img-container:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.pp_social {
  display: none !important;
}

a {
  color: #fff;
}

/* navbar-mobile */
.dark a,
.dark .menu-icon,
.dark li {
  color: #666666 !important;
}

.dark .navicon,
.dark .navicon:after,
.dark .navicon:before {
  background: #666666 !important;
}

.navbar-mobile {
  position: relative;
  width: 100%;
  z-index: 3;
}

.navbar-mobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navbar-mobile li a {
  display: block;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-mobile .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */
.navbar-mobile .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

/* menu icon */
.navbar-mobile .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar-mobile .menu-icon .navicon {
  background: #ffffff;
  display: block;
  outline: none;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar-mobile .menu-icon .navicon:before,
.navbar-mobile .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar-mobile .menu-icon .navicon:before {
  top: 5px;
}

.navbar-mobile .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.navbar-mobile .menu-btn {
  display: none;
}

.navbar-mobile .menu-btn:checked ~ .menu {
  max-height: 340px;
}

.navbar-mobile .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent !important;
}

.navbar-mobile .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-mobile .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.front-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 56vw 1em 1em 1fr;
      grid-template-columns: 56vw 1em 1em 1fr;
      grid-template-areas: "logo icon1 icon2 btn";
}

.front-container img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.front-container .icon1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon1;
  display: -ms-grid;
  display: grid;
  place-content: center end;
}

.front-container .icon2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon2;
  display: -ms-grid;
  display: grid;
  place-content: center end;
}

.front-container .menu-icon {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: btn;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .navbar-mobile li {
    float: left;
  }
  .navbar-mobile li a {
    padding: 20px 30px;
  }
  .navbar-mobile .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar-mobile .menu-icon {
    display: none;
  }
}

@media only screen and (min-device-width: 240px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-grid,
  .about-grid {
    width: 100% !important;
  }
  .top-content {
    -ms-grid-columns: none !important;
        grid-template-columns: none !important;
    grid-gap: 1em !important;
        grid-template-areas: "text text" "menus icons" !important;
  }
  #light {
    background: #eeeeee !important;
  }
  .navbar {
    display: none !important;
  }
  .top,
  .header,
  .featured,
  .collection,
  .blog,
  .footer {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .featured {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .featured .featured-grid {
    margin: 70px auto 60px;
        grid-template-areas: "fig1" "fig2" "fig3" !important;
  }
  .featured .featured-grid .figure-img {
    width: auto !important;
  }
  .collection-grid {
    margin: 70px auto 60px;
        grid-template-areas: "male" "female" !important;
  }
  .collection-grid .collection-img-wrapper {
    width: auto;
  }
  .banner-content {
    margin: 0 auto !important;
    width: auto !important;
  }
  .banner-content .banner-title {
    line-height: normal !important;
  }
  .blog-grid {
    margin: 70px auto 60px !important;
        grid-template-areas: "img" "text" !important;
  }
  .blog-grid .blog-img {
    width: auto !important;
  }
  .blog-grid .blog-text-content {
    width: auto !important;
    height: auto !important;
  }
  .footer-grid {
    padding: 60px 0 !important;
    display: -ms-grid;
    display: grid;
    place-content: center;
    grid-gap: 2 0%;
        grid-template-areas: "sec1" "sec2" !important;
  }
  .footer-grid .footer-left-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sec1;
    display: -ms-grid;
    display: grid;
    place-items: center !important;
  }
  .footer-grid .footer-right-section {
        grid-template-areas: "links shop" "ig ig" !important;
  }
  .bottom {
    text-align: center !important;
  }
  .header-text-title {
    margin: 110px auto 0 !important;
    background: none;
  }
  .header-text-content {
    width: auto !important;
  }
  .about {
    display: none !important;
  }
  .primary-grid {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: none;
        grid-template-columns: none;
        grid-template-areas: "left" "right";
  }
  .primary-grid .primary-left p {
    width: auto !important;
  }
  .primary-grid .primary-right .primary-img {
    width: auto !important;
  }
  .team-grid {
    -ms-grid-columns: none !important;
        grid-template-columns: none !important;
        grid-template-areas: "fig1" "fig2" "fig3" "fig4 " !important;
  }
  .what-we-do-grid {
        grid-template-areas: "left" "right" !important;
  }
  .what-we-do-grid .mission-right p {
    width: auto !important;
  }
  .blog-page-grid {
        grid-template-areas: "fig1" "fig2" "fig3" "fig4" "fig5" "fig6" !important;
  }
  .contact-box-grid {
        grid-template-areas: "left" "center" "right" !important;
  }
  .form-grid {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
        grid-template-areas: "name" "email" "phone" "subject" "text" "btn" !important;
  }
  .masonry-gallery {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    margin: 60px auto !important;
    grid-gap: .2em !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about {
    display: none !important;
  }
  #light {
    background: #eeeeee !important;
  }
  .top,
  .header,
  .featured,
  .collection,
  .blog,
  .footer {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .header-text-content {
    width: auto !important;
  }
  .navbar-mobile {
    display: none !important;
  }
  .featured {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .featured .featured-grid {
        grid-template-areas: "fig1 fig2"  "fig3 fig3" !important;
  }
  .featured .featured-grid .figure-img {
    width: auto !important;
  }
  .collection-grid {
        grid-template-areas: "male female" !important;
  }
  .collection-grid .collection-img-wrapper {
    width: auto;
  }
  .banner-content {
    margin: 0 auto !important;
    width: auto !important;
  }
  .banner-content .banner-title {
    line-height: normal !important;
  }
  .blog-grid {
    margin: 70px auto 60px !important;
        grid-template-areas: "img" "text" !important;
  }
  .blog-grid .blog-img {
    width: auto !important;
  }
  .blog-grid .blog-text-content {
    width: auto !important;
    height: auto !important;
  }
  .footer-grid {
    padding: 60px 0 !important;
    display: -ms-grid;
    display: grid;
    grid-gap: 2 0%;
        grid-template-areas: "sec1" "sec2" !important;
  }
  .footer-grid .footer-left-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sec1;
  }
  .footer-grid .footer-right-section {
        grid-template-areas: "links shop ig" !important;
  }
  .navbar-content {
    width: 100%;
  }
  .widgets-right {
    place-content: center;
  }
  .team-grid {
    -ms-grid-columns: none;
        grid-template-columns: none;
        grid-template-areas: "fig1 fig2" "fig3 fig4";
  }
  .primary-grid {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: none;
        grid-template-columns: none;
        grid-template-areas: "left" "right" !important;
  }
  .primary-left p {
    width: auto !important;
  }
  .primary-right .primary-img {
    width: auto !important;
  }
  .what-we-do-grid {
        grid-template-areas: "right" "left" !important;
  }
  .what-we-do-grid .mission-right p {
    width: auto !important;
  }
  .blog-page-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "fig1 fig2" "fig3 fig4" "fig5 fig6";
  }
  .contact-box-grid {
        grid-template-areas: "left" "right" "center";
  }
  .masonry-gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 60px auto !important;
    grid-gap: .2em !important;
  }
  .span_1 {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
  .span_2 {
    grid-column: span 1 !important;
  }
  .span_3 {
    grid-row: span 1 !important;
  }
  .span_4 {
    grid-column: span 2 !important;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  .navbar-mobile,
  .mobile-top {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */