* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}

.top-content,
.header-content {
    width: 70%;
    margin: 0 auto;
}

.top-content {
    padding: 1em 0;
    color: $text;
}
.header-content {
    padding: 2em 0;
    color: $white2;
}

.widgets-left {
    display: grid;
    place-content: start;
    grid-gap: .4em;
    grid-template-areas: 
        "lan cur";

    #lang {
        grid-area: lan;
    }
    #currency {
        grid-area: cur;
    }
    .top-select {
        position: relative;
        outline: none;
        background: transparent;
        color: $text;
        // -webkit-appearance: none;
        border: none;

        option {
            box-shadow: 0px;
            border: 0px;
            outline: 0px;
            background: $banners;
        }
        option:hover {
            background: $text;
            color: $black;
        }
    }
    
}

#bigger {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.4px;
    
}

.top-social-links-ul {
    display: grid;
    place-content: end;
    grid-gap: 1em;
    grid-template-areas: 
        "icon1 icon2 icon3 icon4";
        .social {
            color: inherit;
            font-size: 1em;
        }
        .link1 {
            grid-area: icon1;
        }
        .link2 {
            grid-area: icon2;
        }
        .link3 {
            grid-area: icon3;
        }
        .link4 {
            grid-area: icon4;
        }
        .social:hover {
            color: $white1;
        }
}
.header {
    background: linear-gradient($blackOP , $whiteOP ) ,  url(../../images/2.jpg)  !important;
    background-attachment: fixed;
    background-size: cover;
    background-position: top !important;
    background-repeat: repeat;
}
.navbar {
    .fas {
        color: $white2;
    }
    .main-navbar-center {
        display: grid;
        place-content: center;
        grid-template-areas:
            "link1 link2 link3 img link4 link5 link6";
        
        .navbar-links {
            place-self: center;
        }
        .link1 {
            grid-area: link1;
        }
        .link2 {
            grid-area: link2;
        }
        .link3 {
            grid-area: link3;
        }
        .nav-logo {
            grid-area: img;
        }
        .link4 {
            grid-area: link4;
        }
        .link5 {
            grid-area: link5;
        }
        .link6 {
            grid-area: link6;
        }

        
        a {
            font-family: 'Dosis';
            text-transform: uppercase;
            padding: 0 1em;
            text-decoration: none;
            color: $white2;
            font-size: 15px;
        }
    }
    .shop-basket-right {

    }
}