* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}

html {
    scroll-behavior: smooth;
}

.top-content,
.header-content,
.feautured-content,
.collection-content,
.blog-content,
.footer-content,
.navbar-content,
.primary-grid,
.what-we-do-grid,
.contact-box-grid { 
    width: 80%;
    margin: 0 auto;
}

.top-content {
    padding: 1em 0;
    color: $text;
}
.header-content {
    padding: 2em 0;
    color: $white2;
}

#container-title {
    font-size: $h1;
    @include normal;
    padding-top: 60px;
}

.no-padding {
    padding: 0 !important;
}
#container-title::after {
    content: '';
    height: 2px;
    width: 50px;
    margin: 20px auto;
    background: $brown;
    display: block;
}

.widgets-left {
    display: grid;
    place-content: start;
    grid-gap: .4em;
    grid-template-areas: 
        "lan cur";

    #lang {
        grid-area: lan;
    }
    #currency {
        grid-area: cur;
    }
}

#bigger {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.4px;
    
}

.top-social-links-ul {
    display: grid;
    place-content: end;
    grid-gap: 1em;
    grid-template-areas: 
        "icon1 icon2 icon3 icon4";
        .social {
            color: inherit;
            font-size: 1em;
        }
        .link1 {
            grid-area: icon1;
        }
        .link2 {
            grid-area: icon2;
        }
        .link3 {
            grid-area: icon3;
        }
        .link4 {
            grid-area: icon4;
        }
        .social:hover {
            color: $brown;
        }
}
.header {
    background: linear-gradient($blackOP , $whiteOP ) ,  url(../images/2.jpg)  !important;
    background-attachment: fixed !important;
    background-size: cover;
    background-position: top !important;
    background-repeat: repeat;
}
.navbar {
    .fas {
        color: $white2;
    }
    .fas:hover {
        color: $banners;
    }
    .fas:active {
        color: $buttons;
    }
    .main-navbar-center {
        display: grid;
        place-content: center;
        grid-template-areas:
            "link1 link2 link3 img link4 link5 link6";
        
        .navbar-links { 
            align-self: center;
        }
        .link1 {
            grid-area: link1;
        }
        .link2 {
            grid-area: link2;
        }
        .link3 {
            grid-area: link3;
        }
        .nav-logo {
            grid-area: img;
        }
        .link4 {
            grid-area: link4;
        }
        .link5 {
            grid-area: link5;
        }
        .link6 {
            grid-area: link6;
        }

        
        
    }
    .shop-basket-right {
        display: grid;
        place-content: center;
    }
}

.header-text {
    .header-text-title {
        font-family: Dosis;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.96;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        
        margin-bottom: 40px;
    }
    .header-text-content { 
        width: 924px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Source Sans Pro';
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #e6e6e6;
        margin-bottom: 112px;
    }
}

.featured-grid {
    .featured-figure {
        width: fit-content;
        height: fit-content;
        .figure-img {
            width: 370px;
            height: 360px;
            background-color: #666666;
        }
        .figure-text {
            text-align: center;
            margin: 23px auto;
        }
    }
}

.collection-grid {
    .collection-item {
        .collection-text {
            @include normal;
            color: $brown;
            padding-top: 42px;
            letter-spacing: 2.5px;
        }
    }
}

.banner-content {
    .banner-title {
        font-family: Dosis;
        font-size: 48px;
        color: $white2 !important;
        @include normal;
        line-height: 0.5;
        text-align: center;
    }
    .banner-text {
        margin-top: 7.1%;
        text-align: center;
        font-size: 15px;
        @include normal;
        text-transform: capitalize;
        color: $white2;
        line-height: 1.6;
    }
}

.blog-content {

    .blog-text {
        
        .blog-text-title {
            margin-bottom: 19px;
        }
        #greyed {
            margin-bottom: 36px;
            color: $darkgrey;
            font-size: $h5;
        }
        .blog-text-content {
            margin-bottom: 42px;
            height: 239px;
            width: 529px;
        }
        .read-more-btn {
            color: $brown;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }
}

.fa-phone {
    transform: rotate(90deg);
}

#extra-pad {
    padding-left: 2em;
    display: inline;
}

.footer-grid {
    .footer-left-section {
        .footer-logo {
            font-family: Dosis;
            font-size: 30px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: .4em;
            text-align: left;
            color: #e5e5e5;
        }
        .footer-contact-details {
            padding: 0;
            li {
                margin-top: 40px;
                list-style: none;
                color: $darkgrey;
                font-size: 15px;
                p{
                    padding-left: 2em;
                    display: inline;
                }
                
            }
        }   
    }

    .footer-right-section {
        .right-title {
            margin-bottom: 51px;
            color: #e5e5e5;
            text-align: left;
        }

        ul {    
            padding: 0;
            li {
                list-style: none;
                color: #999999;
                padding-bottom: 30px; 
            }
        }

        .footer-instagram {
            div {
                width: 80px;
                height: 80px;
                background: $white2;
            
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.about-us {
    height: 445px;
    background: #666666;
    display: grid;
    place-content: center;
    .about-us-title {
        font-size: 50px;
        letter-spacing: 5px !important;
        @include normal;
        color: $white2;
    }
    p {
        margin-top: 36px;
        text-align: center;
        color: $white2;
        span {
            color: #a8a8a8;
        }
        #text {
            color: #cccccc;
        }
    }

}



.primary-left {
    grid-area: left;
    p {
        margin-bottom: 36px;
        width: 524px;
        color: #666666;
    }
}
.primary-right {
    grid-area: right;
    height: 490px;
    width: fit-content;
    background: #666666;

}

.team-figure {
    
    width: 270px;
    .team-img {
        
        height: 305px;
        background-color: #666666;
        margin-bottom: 20px;
    }
    .team-text {

        text-align: center;
        display: grid;
        grid-template-areas: 
            "name"
            "des"
            "links";
        h4 {
            font-size: 20px;
            margin-bottom: 16px;
            letter-spacing: 1px;
        }
        p {
            margin-bottom: 30px;
            color: #999999
        }
        i {
            padding: 0 15px;
            color: #555555;
        }
    }
}

.mission-left {
    height: 490px;
    width: 600px;
    background: #666666;
    width: fit-content;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


// Contact page

.contact-box-grid {
    margin: 100px auto 74px;
    width: fit-content;
    .box {
        background: #f0f0f0;
        height: 200px;
        width: 390px;
        border: solid 1px #e6e6e6;
    }
    
    .center-top,
    .center-bottom {
        background: #f0f0f0;
        border: solid 1px #e6e6e6;
    }
    
    .box-left,
    .box-right {
        display: grid;
        text-align: center;
        place-content: center;
        
        h4 {
            margin-top: 19px;
            margin-bottom: 30px;
            font-size: $h4;
        }
    }
    
    .box-center {

        .center-top,
        .center-bottom {
            display: grid;
            place-content: center;
        }   
    }
}

.contact-form {

    .form-grid {
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "name email"
            "phone subject"
            "text text"
            "btn ." ;
        
        input {
            padding: 22px;
            height: 50px;
            color: #888888;
            border: solid 1px #e6e6e6;
            background: $white2;
            outline: none;
        }
        #form-name {
            grid-area: name;
        }
        #form-email {
            grid-area: email;
        }
        #form-number {
            grid-area: phone;
        }
        #form-subject {
            grid-area: subject;
        }
        #form-text {
            grid-area: text;
            height: 150px;
            color: #888888;
            padding: 22px;
            border: solid 1px #e6e6e6;
            background: $white2;
            outline: none;
        }

        #form-button {
            grid-area: btn;
            width: 155px;
            height: 40px;
            background: $buttons;
            color: #ffffff;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            display: grid;
            place-content: center;
            margin-bottom: 100px;
        }
    }
}

