* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}

.top-content,
.header-content,
.feautured-content {
    width: 70%;
    margin: 0 auto;
}

.top-content {
    padding: 1em 0;
    color: $text;
}
.header-content {
    padding: 2em 0;
    color: $white2;
}

#container-title {
    font-size: $h1;
    @include normal;
}
#container-title::after {
    content: '';
    height: 2px;
    width: 50px;
    margin: 20px auto;
    background: $brown;
    display: block;
}

.widgets-left {
    display: grid;
    place-content: start;
    grid-gap: .4em;
    grid-template-areas: 
        "lan cur";

    #lang {
        grid-area: lan;
    }
    #currency {
        grid-area: cur;
    }
    .top-select {
        position: relative;
        outline: none;
        background: transparent;
        color: $text;
        // -webkit-appearance: none;
        border: none;

        option {
            box-shadow: 0px;
            border: 0px;
            outline: 0px;
            background: $banners;
        }
        option:hover {
            background: $text;
            color: $black;
        }
    }
    
}

#bigger {
    font-size: 12px;
    text-align: center;
    letter-spacing: 2.4px;
    
}

.top-social-links-ul {
    display: grid;
    place-content: end;
    grid-gap: 1em;
    grid-template-areas: 
        "icon1 icon2 icon3 icon4";
        .social {
            color: inherit;
            font-size: 1em;
        }
        .link1 {
            grid-area: icon1;
        }
        .link2 {
            grid-area: icon2;
        }
        .link3 {
            grid-area: icon3;
        }
        .link4 {
            grid-area: icon4;
        }
        .social:hover {
            color: $white1;
        }
}
.header {
    background: linear-gradient($blackOP , $whiteOP ) ,  url(../images/2.jpg)  !important;
    background-attachment: fixed !important;
    background-size: cover;
    background-position: top !important;
    background-repeat: repeat;
}
.navbar {
    .fas {
        color: $white2;
    }
    .fas:hover {
        color: $banners;
    }
    .fas:active {
        color: $buttons;
    }
    .main-navbar-center {
        display: grid;
        place-content: center;
        grid-template-areas:
            "link1 link2 link3 img link4 link5 link6";
        
        .navbar-links { 
            align-self: center;
        }
        .link1 {
            grid-area: link1;
        }
        .link2 {
            grid-area: link2;
        }
        .link3 {
            grid-area: link3;
        }
        .nav-logo {
            grid-area: img;
        }
        .link4 {
            grid-area: link4;
        }
        .link5 {
            grid-area: link5;
        }
        .link6 {
            grid-area: link6;
        }

        
        a {
            font-family: 'Dosis';
            text-transform: uppercase;
            padding: 0 1em;
            text-decoration: none;
            color: $white2;
            font-size: 15px;
            transition: all .4s;
        }
        a:hover::after {
            content: '';
            transition: all .4s;
            display: block;
            height: 4px;
            margin: 0 auto;
            background: $buttons;
            width: 80%;
        }
    }
    .shop-basket-right {
        display: grid;
        place-content: center;
    }
}

.header-text {
    .header-text-title {
        font-family: Dosis;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.96;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        
        margin-bottom: 40px;
    }
    .header-text-content { 
        width: 924px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Source Sans Pro';
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #e6e6e6;
        margin-bottom: 112px;
    }
}

.featured-grid {

    .featured-figure {

        background: red;
        height: fit-content;
        .figure-img {
            width: 370px;
            height: 360px;
            background-color: #666666;
        }
    }

    .figure-left  {
    }
    .figure-center {
    }
    .figure-right {
    }
}