.top-select {
    position: relative;
    outline: none;
    background: transparent;
    color: $text;
    width: fit-content;
    // -webkit-appearance: none;
    border: none;

    option {
        box-shadow: 0px;
        border: 0px;
        outline: 0px;
        background: $banners;
    }
    option:hover {
        background: $text;
        color: $black;
    }
}

#about-only {
    display: grid;
    place-content: end;
}

.navbar-links {
    font-family: 'Dosis';
    text-transform: uppercase;
    padding: 0 1em;
    text-decoration: none;
    color: $white2;
    font-size: 15px;
    transition: all .4s;
    align-self: center;
}
.navbar-links:hover::after {
    content: '';
    transition: all .4s;
    display: block;
    height: 4px;
    margin: 0 auto;
    background: $buttons;
    width: 80%;
}

.header-text-button {
    margin: 0 auto;
    width: 150px;
    background: $white2;
    border: solid $brown 2px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $buttons;
    display: grid;
    place-content: center;
    transition: all .2s;
    margin-bottom: 6%;
}
.header-text-button:hover {
    transform: scale(1.1);
    background: $buttons;
    color: $white2;
    border: solid $white2 2px;
    box-shadow: 0 0 0 10px $brownOP;
    transition: all .2s ;
}

.banner-button {
    margin-top: 15.8% !important;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    display: grid;
    place-content: center;
    background-color: $buttons;
    color: $white2;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .2s;
}
.banner-button:hover {
    transform: scale(1.1);
    background: $white2;
    color: $brown;
    border: solid 2px $brown;
}

a {
    text-decoration: none;
}

.down-arrow{
    position: relative;
    margin: 0 auto;
    transform: translate(-10%,-10%);
    span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid $white2;
        border-right: 2px solid $white2;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    span:nth-child(2){
        animation-delay: -0.2s;
    }
    span:nth-child(3){
        animation-delay: -0.4s;
    }
}

.figure-img {
    position: relative;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        transition: all .2s;
        transform: scale(1);
        display: block;
    }
    img:hover {
        transform: scale(1.08);
    }
    .new-item {
        width: 60px;
        height: 25px;
        border-radius: 7.5px;
        background-color: #a88d7b;
        font-size: 15px;
        color: $white2;
        text-transform: uppercase;
        display: grid;
        place-content: center;
        position: absolute;
        right: 10px;
        letter-spacing: 2.5px;
        top: 10px;
    }
}

.collection-item {
    .collection-img-wrapper {
        position: relative;
        overflow: hidden;
        width: 570px;
        height: 373px;
        background-color: #666666;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover; 
            object-position: center;
            transition: all .2s;
            transform: scale(1);
            display: block;
        }
        img:hover {
            transform: scale(1.08);
        }
    }
}

.blog-img {
    overflow: hidden;
    position: relative;
    
    img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        transform: scale(1);
        transition: all .2s;
    }
    img:hover {
        transform: scale(1.08);
    }
}


// About page 

.primary-right {
    position: relative;
    overflow: hidden;
    img {
        height: 100%;
        object-fit: cover;
        object-position: top;
        width: 100%;
        transition: all .2s;
    }
    img:hover {
        transform: scale(1.08);
    }
}