.header-text-button {
    margin: 0 auto;
    width: 150px;
    height: 40px;
    background: $buttons;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    color: $white2;
    display: grid;
    place-content: center;
    transition: all .4s;
    margin-bottom: 10%;
}
.header-text-button:hover {
    transform: scale(1.2);
    transition: all .4s;
    box-shadow: 0 2px 0 $greyed2;
}

a {
    text-decoration: none;
}

.down-arrow{
    position: relative;
    margin: 0 auto;
    transform: translate(-10%,-10%);
    span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid $white2;
        border-right: 2px solid $white2;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    span:nth-child(2){
        animation-delay: -0.2s;
    }
    span:nth-child(3){
        animation-delay: -0.4s;
    }
}
