// Global layouts

.main-grid {
    grid-template-areas: 
        "top"
        "header"
        "feat"
        "collection"
        "banner"
        "blog"
        "footer";

    .top {
        grid-area: top;
        background: $banners;
        height: 3.3125rem;

        .top-content {
            display: grid;
            margin: 0 auto;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas: 
                "menus text icons";

            .widgets-left {
                grid-area: menus;
            }
            .text-centered {
                grid-area: text;
            }
            .social-links-right {
                grid-area: icons;
            }
        }
        
    }
    .header {
        grid-area: header;
        // background: #666666; //insert bg image
        height: 59.0625rem;

        display: grid;
        grid-template-areas:
            "nav"
            "hero";

        .navbar {
            grid-area: nav;
            color: $white2;

            display: grid;
            grid-template-columns: 1fr auto 1fr;
            grid-template-areas: 
                "search ul basket";

            .search-icon-left {
                grid-area: search;
                display: grid;
                place-content: center start;
            }
            .main-navbar-center {
                grid-area: ul;
            }
            .shop-basket-right {
                grid-area: basket;
                display: grid;
                place-content: center end;
                
                a {
                    place-self: center;
                }
            }

        }
    }
    .featured {
        height: 44rem;
        grid-area: feat;
        background: $white1;
    }
    .collection {
        height: 44.0625rem;
        grid-area: collection;
        background: $white2;
    }
    .banner {
        height: 34.5rem;
        grid-area: banner;
        background: #666; //insert bg image
    }
    .blog {
        height: 41.9375rem;
        grid-area: blog;
        background: $white3;
    }
    .footer {
        grid-area:  footer;
        height: 26.5625rem;
        background: $banners;
    }
    .bottom {
        height: 5.3125rem;
        grid-area : bottom;
        background: $grey;
    }
}
