@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

    // H O M E  P A G E
    .main-grid {
      width: auto;
    }

    .top-content {
      grid-template-columns: none !important;
      grid-gap: 1em !important;
      grid-template-areas: "text text" "menus icons" !important;
    }

    #light {
      background: #eeeeee !important;
    }

    .navbar {
      display: none !important;
    }
    
    .top,
    .header,
    .featured,
    .collection,
    .blog,
    .footer {
      height: fit-content !important;
      width: 100%;
    }

    .featured {
    height: fit-content;

      .featured-grid {
        margin: 70px auto 60px;
        grid-template-areas: 
        "fig1" "fig2" "fig3" !important;

        .figure-img {
          width: auto !important;
        }
      }
    }
    
    
    .collection-grid {
        margin: 70px auto 60px;
        grid-template-areas: "male" "female" !important;

        .collection-img-wrapper {
          width: auto;
        }
    }

    .banner-content {
      margin: 0 auto !important;
      width: auto !important;
      .banner-title {
        line-height: normal !important;
      }
    }

    .blog-grid {
        margin: 70px auto 60px !important;
        grid-template-areas: "img" "text" !important;

        
        .blog-img {
          width: auto !important;
        }
        .blog-text-content {
          width: auto !important;
          height: auto !important;
        }
        
    }

    .footer-grid {
      padding: 60px 1em;
      display: grid;
      place-content: center;
      grid-gap: 2 0%;
      grid-template-areas: "sec1" "sec2" !important;

      .footer-left-section {
        grid-area: sec1;
        display: grid;
        place-items: center !important;
    }
      .footer-right-section {
        grid-template-areas: "links shop" "ig ig" !important;
      }
  
  }

  .bottom {
    text-align: center !important;
  }

  .header-text-title {
    margin: 110px auto 0 !important;
    background: none;
  }
  .header-text-content {
      width: auto !important;
  }

  // A B O U T  P A G E

  .about {
    display: none !important;
  }
  .primary-grid {
    grid-template-rows: none;
    grid-template-columns: none;
    grid-template-areas: 
        "left" "right";
    .primary-left {
      p {
        width: auto !important;
      }
    }
    .primary-right {
      .primary-img {
        width: auto !important;
      }
    }
  }

  .team-grid {
    grid-template-columns: none !important;
    grid-template-areas: "fig1" "fig2" "fig3" "fig4 " !important;
  }
  .what-we-do-grid {
    grid-template-areas: "left" "right" !important;

    .mission-right {
      p {
        width: auto !important;
      }
    }
  }

  // B L O G  P A G E

  .blog-page-grid {
    grid-template-areas:
        "fig1" "fig2" "fig3"
        "fig4" "fig5" "fig6" !important;
  }


  // C O N T A C T  P A G E

  .contact-box-grid {
    grid-template-areas: "left" "center" "right" !important;
  }
  .form-grid {
    grid-template-columns: 1fr !important;
    grid-template-areas: "name" "email" "phone" "subject" "text" "btn" !important;
  }

  // L O O K B O O K  P A G E

  .masonry-gallery {
    grid-template-columns: 1fr !important;
    margin: 60px auto !important;
    grid-gap: .2em !important;
  }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .navbar-mobile {
      display: none !important;
    }
}

@media only screen 
  and (min-device-width: 1025px)
  and (max-device-width: 1440px) {
    
    .navbar-mobile,
    .mobile-top {
      display: none !important;
    }
}