@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

    // H O M E  P A G E
    .main-grid {
      width: auto;
    }

    .navbar {
      display: none !important;
    }
    
    .top,
    .header,
    .featured,
    .collection,
    .blog,
    .footer {
      height: fit-content !important;
      width: 100%;
    }

    .featured {
    height: fit-content;

      .featured-grid {
        margin: 70px auto 60px;
        grid-template-areas: 
        "fig1" "fig2" "fig3" !important;

        .figure-img {
          width: auto !important;
        }
      }
    }
    
    
    .collection-grid {
        margin: 70px auto 60px;
        grid-template-areas: "male" "female" !important;

        .collection-img-wrapper {
          width: auto;
        }
    }

    .banner-content {
      margin: 0 auto !important;
      width: auto !important;
      .banner-title {
        line-height: normal !important;
      }
    }

    .blog-grid {
        margin: 70px auto 60px !important;
        grid-template-areas: "img" "text" !important;

        
        .blog-img {
          width: auto !important;
        }
        .blog-text-content {
          width: auto !important;
          height: auto !important;
        }
        
    }

    .footer-grid {
      padding: 60px 0;
      // margin: 0 auto 60px;
      display: grid;
      place-content: center;
      grid-gap: 2 0%;
      grid-template-areas: "sec1" "sec2" !important;

      .footer-left-section {
        grid-area: sec1;
        display: grid;
        place-items: center !important;
    }
      .footer-right-section {
        grid-template-areas: "links shop" "ig ig" !important;
      }
  
  }

  .bottom {
    text-align: center !important;
  }

  .header-text-title {
    margin: 110px auto 0 !important;
    background: none;
  }
  .header-text-content {
      width: auto !important;
  }

  // A B O U T  P A G E


    

}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .navbar-mobile {
      display: none !important;
    }
}

@media only screen 
  and (min-device-width: 1025px)
  and (max-device-width: 1440px) {
    
    .navbar-mobile {
      display: none !important;
    }
}