@media only screen 
  and (min-device-width: 240px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

    // H O M E  P A G E
    .main-grid,
    .about-grid {
      width: 100% !important;
    }

    .top-content {
      grid-template-columns: none !important;
      grid-gap: 1em !important;
      grid-template-areas: "text text" "menus icons" !important;
    }

    #light {
      background: #eeeeee !important;
    }

    .navbar {
      display: none !important;
      -webkit-appearance: none;
    }
    
    .top,
    .header,
    .featured,
    .collection,
    .blog,
    .footer,
    .shop-container {
      height: fit-content !important;
      width: 100%;
    }

    .featured {
    height: fit-content;

      .featured-grid {
        margin: 70px auto 60px;
        grid-template-areas: 
        "fig1" "fig2" "fig3" !important;

        .figure-img {
          width: auto !important;
        }
      }
    }
    
    
    .collection-grid {
        margin: 70px auto 60px;
        grid-template-columns: 1fr;
        grid-template-areas: "winter" "casual" !important;

        .collection-img-wrapper {
          width: auto;
        }
    }

    .banner-content {
      margin: 0 auto !important;
      width: auto !important;
      .banner-title {
        line-height: normal !important;
      }
    }

    .blog-grid {
        margin: 70px auto 60px !important;
        grid-template-areas: "img" "text" !important;

        
        .blog-img {
          width: auto !important;
        }
        .blog-text-content {
          width: auto !important;
          height: auto !important;
        }
        
    }

    .footer-grid {
      padding: 60px 0 !important;
      display: grid;
      place-content: center;
      grid-gap: 2 0%;
      grid-template-areas: "sec1" "sec2" !important;

      .footer-left-section {
        grid-area: sec1;
        display: grid;
        place-items: center !important;
    }
      .footer-right-section {
        grid-template-areas: "links shop" "ig ig" !important;
      }
  
  }

  .bottom {
    text-align: center !important;
  }

  .header-text-title {
    margin: 110px auto 0 !important;
    background: none;
  }
  .header-text-content {
      width: auto !important;
  }

  // A B O U T  P A G E

  .about {
    display: none !important;
  }
  .primary-grid {
    grid-template-rows: none;
    grid-template-columns: none;
    grid-template-areas: 
        "left" "right";
    .primary-left {
      p {
        width: auto !important;
      }
    }
    .primary-right {
      .primary-img {
        width: auto !important;
      }
    }
  }

  .team-grid {
    grid-template-columns: none !important;
    grid-template-areas: "fig1" "fig2" "fig3" "fig4 " !important;
  }
  .what-we-do-grid {
    grid-template-areas: "left" "right" !important;

    .mission-right {
      p {
        width: auto !important;
      }
    }
  }

  // B L O G  P A G E

  .blog-page-grid {
    grid-template-areas:
        "fig1" "fig2" "fig3"
        "fig4" "fig5" "fig6" !important;
      
    .blog-item-img {
      width: auto;
    }
    .blog-item-text {
      p {
        width: auto !important;
      }
    }
  }


  // C O N T A C T  P A G E

  .contact-box-grid {
    grid-template-areas: "left" "center" "right" !important;

    .box {
      width: auto !important;
    }
  }
  .form-grid {
    grid-template-columns: 1fr !important;
    grid-template-areas: "name" "email" "phone" "subject" "text" "btn" !important;
  }

  // L O O K B O O K  P A G E

  .masonry-gallery {
    grid-template-columns: 1fr !important;
    margin: 60px auto !important;
    grid-gap: .2em !important;
  }

  // S C R L L  U P  A R R O W
  .scroll-top {
    position: fixed;
    transition: all .2s;
    bottom: 2%;
    left: 80%;
  }

  // S H O P  P A G E 

  .shop-content {
    .product {
      grid-template-columns: 1fr !important;
      grid-gap: 0px !important;
      place-content: center;

      .product-container-img,
      .product-content {
        margin: 0 auto;
      }

      .product-content {
        a {
          margin: 0 auto;
          margin-bottom: 60px !important;
        }
        span {
          position: absolute;
          right: 2px !important;
          top: 415px !important;
          transform: translate(50%, -50%);
        }
        button {
          margin: 0 auto 36px;
        }
      }
    }
    .product::after {
      content: '';
      height: 2px;
      background: #666666;
      width: 70%;
      margin: 2em auto;
      display: block;
    }
  }
  .page-number {
    margin-bottom: 30px;
  }
  .cart {
    width: 300px;
    transform: translate(-50%, 10%);
  }
}



// FOR TABLET

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .about {
      display: none !important;
      -webkit-appearance: none ;
    }
    #light {
      background: #eeeeee !important;
    }

    .top,
    .header,
    .featured,
    .collection,
    .blog,
    .footer {
      height: fit-content !important;
      width: 100%;
    }

    .header-text-content {
      width: auto !important;
    }

    .navbar-mobile {
      display: none !important;
    }

    .featured {
      height: fit-content;
  
        .featured-grid {
          grid-template-areas: 
          "fig1 fig2" 
          "fig3 fig3" !important;
  
          .figure-img {
            width: auto !important;
          }
        }
    }

    .collection {
      margin-bottom: 60px;
      .collection-grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "winter casual" !important;
  
        .collection-img-wrapper {
          width: auto;
        }
      }
    }

    .banner-content {
      margin: 0 auto !important;
      width: auto !important;
      .banner-title {
        line-height: normal !important;
      }
    }

    .blog-grid {
      margin: 70px auto 60px !important;
      grid-template-areas: "img" "text" !important;

      
      .blog-img {
        width: auto !important;
      }
      .blog-text-content {
        width: auto !important;
        height: auto !important;
      } 
    }

    .footer-grid {
      padding: 60px 0 !important;
      display: grid;
      grid-gap: 2 0%;
      grid-template-areas: "sec1" "sec2" !important;

      .footer-left-section {
        grid-area: sec1;
    }
      .footer-right-section {
        grid-template-areas: "links shop ig" !important;
      }
  }

  // A B O U T  P A G E


  .navbar-content {
    width: 100%;
  }

  .widgets-right {
    place-content: center;
  }

  .team-grid {
    grid-template-columns: none;
    grid-template-areas: "fig1 fig2" "fig3 fig4";
  }

  
  .primary-grid {
    grid-template-rows: none;
    grid-template-columns: none;
    grid-template-areas: "left" "right" !important;

  }
  .primary-left {
    p {
      width: auto !important;
    }
  }
  .primary-right {
    .primary-img {
      width: auto !important;
    }
  }

  .what-we-do-grid {
    grid-template-areas: "right" "left" !important;

    .mission-right {
      p {
        width: auto !important;
      }
    }
  }

  // B L O G  P A G E

  .blog-page-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "fig1 fig2" "fig3 fig4" "fig5 fig6";
    
    .blog-item-img {
      width: auto;
    }
  }

  // C O N T A C T  P A G E

  .contact-box-grid {
    grid-template-areas: "left" "right" "center";
  }


  // L O O K B O O K  P A G E
  
  .masonry-gallery {
    grid-template-columns: repeat(2, 1fr);
    margin: 60px auto !important;
    grid-gap: .2em !important;
  }

  .span_1 {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
  .span_2 {
      grid-column: span 1 !important;
  }
  .span_3 {
      grid-row: span 1 !important;
  }
  .span_4 {
    grid-column: span 2 !important;
  }
}




@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 2000px) {
    
    .navbar-mobile,
    .mobile-top {
      display: none !important;
      -webkit-appearance: none;
    }
}