// Global colors 

$black      :   #2d2827;
$black2     :   #666666;
$black3     :   #333333;
$white1     :   #f5f5f5;
$white2     :   #ffffff;
$white3     :   #f9f9f9;
$brown      :   #a88d7b;
$grey       :   #d7d7d7;
$greyed2    :   #e6e6e6;
$greyed3    :   #eeeeee;
$darkgrey   :   #999999;
$blackOP    :   #666666be;
$whiteOP    :   #f5f5f5be;
$brownOP    :   #a88d7b80;
$overlay    :   #a88d7b34;
$brownishgrey   : #666666;
$mushroom   : #ac907f;
$pure-white : #fefefe;
$pinkish-grey : #cccccc;


$banners    :   $black;
$buttons    :   $brown;
$gridgrey   :   $greyed2;
$text       :   $darkgrey;
$headers    :   $black3;


// Global font sizes / faces

$h1     :  36px;
$h2     :  30px;
$h3     :  25px;
$h4     :  18px;
$h5     :  15px;
$h6     :  13px;
